{include file="public/head" /}
<title>按钮管理 - 按钮列表</title>

</head>
<body>
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
	{include file="public/header" /}
</header>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
	{include file="public/menu" /}
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 按钮管理 <span class="c-gray en">&gt;</span> 按钮列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<form class="Huiform" method="post" action="" target="_self">
					<input type="text" class="input-text" style="width:250px" placeholder="按钮名称" id="" name="">
					<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索按钮</button>
				</form>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> 
				<span class="l">
					<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
					<a href="javascript:;" onclick="admin_permission_add('添加按钮','{:Url('Menu/save_menu')}','','310')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加按钮</a></span> 
				<span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="7">按钮列表</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="40">ID</th>
						<th width="200">按钮名称</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="vo" empty="暂无数据"}
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td>{$vo.menu_id}</td>
						{eq name="$vo.menu_level" value="1"}
						<td style="text-align:left;padding-left:30%;">{$vo.menu_name}</td>
						{/eq}
						{eq name="$vo.menu_level" value="2"}
						<td style="text-align:left;padding-left:30%;">|--{$vo.menu_name}</td>
						{/eq}
						<td>
						<a title="编辑" href="javascript:;" onclick="admin_permission_edit('按钮编辑','{:Url('Menu/edit_menu',array('id'=>$vo['menu_id']))}','1','','310')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
						<a title="删除" href="javascript:;" onclick="admin_permission_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
					{/volist}
				</tbody>
			</table>
			<div class="text-c">{$page}</div>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="public/foot"} 
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function admin_permission_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-权限-编辑*/
function admin_permission_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*管理员-权限-删除*/
function admin_permission_del(obj,id){
	layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>